body{margin: 0; padding: 0; font-size: 14px;}
.top{background-color: #ccc;}
h1{font-size: 28px; padding: 0 2vw 0 2vw; left: 10vw; display: inline; }
.nav{ padding: 0 2vw 0 2vw; float: right; line-height: 5vh;}
.nav a{text-decoration: none; padding: 0 0 1vw 2vw; }
.nav a:hover{color: green; }

.content{border-top: 4px solid #000;}

.leftcontent{ float: left; width: 30vw; max-width: 30vw; min-height: 92vh; height: 92vh; border-right: 2px solid black;}
.rightcontent{min-width: 30vw; float:right;}

.leftnav{ padding: 0 2vw 0 2vw; left: 10vw; float: left;}
ul{color: purple; }
.rightcontent .form{ margin: 10vh 0vw 0vh 25vw;}
.form{color: #ccc; text-align: left; }
.form input{display: block; margin: 1vh 0 0 0;}
textarea{resize: none; margin: 1vh 0 0 0;}



footer{background-color: #ccc; font-size: 14px; color: #888; border-top: 4px solid #000; bottom: 0; position: absolute; min-width: 100%;}