
body{margin: 0; padding: 0; font-size: 14px;}
.top{background-color: violet;}
h1{color: blue; font-size: 28px; padding: 0 2vw 0 2vw; left: 10vw; display: inline; }
.nav{ padding: .5vw 2vw 0 2vw; display: inline; right: 10vw; float: right; margin: 0 auto;}
.nav li{display: inline; padding: 0 0 .5vh .5vw; }
.nav li a{text-decoration: none; }
.nav li a:hover{color: green; }

.content{border-top: 4px solid #000;}

.leftcontent{ float: left; width: 30vw; max-width: 30vw; min-height: 700px; height: 700px; border-right: 2px solid red; background-color: yellow;}
.rightcontent{min-width: 30vw; background-color: pink; padding: 25px; text-align: center;}

.leftnav{ padding: 0 2vw 0 2vw; left: 10vw; float: left;}
ul{color: purple; }

.form{color: #ccc; }

footer{font-size: 14px; color: #888; border-top: 4px solid #000; bottom: 0; position: absolute; min-width: 100%;}